@use '../../../styles/variables' as *;

.linkIconButton {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.1s;

  svg {
    width: 24px;
    height: 24px;
    fill: var(--text);
    margin-right: 10px;
  }
  .link {
    font-family: var(--font-jetbrains);
    font-weight: bold;
    text-decoration: none;
    color: var(--text);
  }
}

.primary {
  background-color: $primaryColor;
}

.secondary {
  outline: 2px solid $primaryColor;
  background-color: var(--bg);
}
