.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;

  .headerUtils {
    display: flex;
    flex-direction: row;
    align-items: center;

    > *:not(:first-child) {
      margin-left: 16px;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: color-mix(in srgb, var(--bg) 90%, transparent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: translateY(-100%);
    opacity: 0;

    &.open {
      transform: translateY(0);
      opacity: 1;
    }

    .headerUtils {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 20px;

      > *:not(:first-child) {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }
}
