// Colors
$primaryColor: #ffcc00;
$secondaryColor: #333333; // yet to finalize

// Light Theme Colors
$color-heading-light: #000000;
$color-description-light: #222222;
$bg-light: #ffffff;
$text-light: #000000;
$side-heading-light: #636363;

// Dark Theme Colors
$color-heading-dark: #ffffff;
$color-description-dark: #dcdcdc;
$bg-dark: #0f0f0f;
$text-dark: #ffffff;
$side-heading-dark: #cccccc;